.container{
	display: flex;

}
.div1{
	background-image: url(image1.png);
}
.div2{
	background-image: url(image2.png);
}
.div3{
	background-image: url(image3.png);
}
.div4{
	background-image: url(image4.png);
}