
ul {
  list-style-type: none;
  margin: 1%;
  padding: 1%;
  overflow: hidden;
  background-color: #040506;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  background-image: url('thor.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  align-content: flex-end;
  font-family: "trajan pro";
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: purple;
  color: black;
  text-align: center;
}

.div1{
	width: 100%;
	align-content: flex-end;
	font-family: arial black;
}
.div2{
width: 35%;
align-content: flex-end;
font-family: arial;
}